<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>324311851624-62h5dpag7l0rqs13i6le87lvau4v9dkd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.324311851624-62h5dpag7l0rqs13i6le87lvau4v9dkd</string>
	<key>API_KEY</key>
	<string>AIzaSyCIKvjO8tArQKlR2hM4lVVJPvWCF0E3hNg</string>
	<key>GCM_SENDER_ID</key>
	<string>324311851624</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-ndlawapps.com.firebasemessage</string>
	<key>PROJECT_ID</key>
	<string>church-data</string>
	<key>STORAGE_BUCKET</key>
	<string>church-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:324311851624:ios:945eccc9bb7c3630</string>
	<key>DATABASE_URL</key>
	<string>https://church-data.firebaseio.com</string>
</dict>
</plist>